<html>
  <head>
  	<meta http-equiv='refresh' content='6;url=http://gnomify.net' />
  	<title>Gnomify -- gnome not found...</title>
	<script>
	function startTimer(e){timeInSecs=parseInt(e)-1,ticker=setInterval('tick()',1e3)}function tick(){var e=timeInSecs;e>0?timeInSecs--:clearInterval(ticker),document.getElementById('countdown').innerHTML=e}var timeInSecs,ticker;startTimer(5);
	</script> 
  </head>
  <body>
  	The gnome you were trying to access does not exist.
	You will be redirected to <b>Gnomify</b> in <b id='countdown'>5</b> seconds.
	<br>You can <a href='http://gnomify.net'>continue</a> whenever if you'd like. 
	<br>
	<br>
	<b>Some simple and semi-useful analytics about Gnomify:</b>
	<br>
	By the way, gnomes have beend clicked a total of <b>27</b> times!
	<br>
	It was created <b>August of 2014.</b>.
	<br>
	<br>
	<b>Gnomes are our homies:</b>
	<br>
	<img src="https://s-media-cache-ak0.pinimg.com/736x/aa/a1/20/aaa120b9a20d39d2e3142802c2788f3b.jpg">
  </body>
</html>